services:
  jellyfin:
    image: ghcr.io/jellyfin/jellyfin:10.11.4
    container_name: jellyfin
    network_mode: bridge
    ports:
      - 8096:8096/tcp
    volumes:
      - ./config:/config
      - ./cache:/cache
      - /volume1/Media/Filme:/media/movies
      - /volume1/Media/Filme:/media/shows
    environment:
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - HEALTHCHECK_URL=http://localhost:8096/health
      - DEBIAN_FRONTEND=noninteractive
      - LC_ALL=de_DE.UTF-8
      - LANG=de_DE.UTF-8
      - LANGUAGE=de_DE:de
      - JELLYFIN_DATA_DIR=/config
      - JELLYFIN_CACHE_DIR=/cache
      - JELLYFIN_CONFIG_DIR=/config/config
      - JELLYFIN_LOG_DIR=/config/log
      - JELLYFIN_WEB_DIR=/jellyfin/jellyfin-web
      - JELLYFIN_FFMPEG=/usr/lib/jellyfin-ffmpeg/ffmpeg
      - XDG_CACHE_HOME=/cache
      - MALLOC_TRIM_THRESHOLD_=131072
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    restart: unless-stopped